.toolbar {

        background: #f900a1;
    color: #d4d4d4
}




body {
    color: #d8d8d8;
    background-color: #7a7a7a;
    background-attachment: fixed;
    background-size: auto;
    background-image: url(https://static.intercomassets.com/ember/assets/images/messenger-backgrounds/background-1-413726a5db9a71101b3256558807a3aa.png);

}




.content-container {

    background-color: #000000b5;
}




.box .box-header {
    background-color: #0d0f12;
    border-color: #383838;
    box-shadow: 0 -1px 1px rgba(0,0,0,.1);
}

.box {
    background-color: #f900a1de!important;
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-color: #2f3134;
}

.form-control
{
    background-color: #252931!important;
    border-bottom: 1px #252931 solid!important;
    border-color: #0e1012;
    color: #c1c1c1;
}


.input-group-addon {
    background-color: #f900a1;
    border-color: #0e1012;
}



tr.row-clickable:hover {
    background-color: #252a31;
}

.box .box-content+.box-content {
    border-color: #252931;
}

.toolbar input {
    background-color: #252931;
}


.table>thead>tr>td.danger, .table>tbody>tr>td.danger, .table>tfoot>tr>td.danger, .table>thead>tr>th.danger, .table>tbody>tr>th.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>tbody>tr.danger>td, .table>tfoot>tr.danger>td, .table>thead>tr.danger>th, .table>tbody>tr.danger>th, .table>tfoot>tr.danger>th {
    background-color: #963030;
}


.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {
    background-color: #3e5a32;
}


.box-gray-arrow {
  
    background: #f900a1;

}




.modal-content {
   
    background-color: #f900a1;

}

.box .box-header {
    background-color: #0e1012;
    border-color: #141414;
}






.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #0e1012!important;
border-color: #0e1012;
}




.ui-tabs .ui-tabs-nav li a {
 color: #ffffff!important;
}
    





.content-body .tabsContainer .tabsContent {
    background-color: #f900a1de;
    border-color: #f900a1;
}





.ui-widget-content {

    color: #d2d2d2;
}


.ui-tabs .ui-tabs-nav li {

   border-color: #252931;

    background: #252931;
}

.content-body .tabsContainer .tabsContent .tab-streamer {
    background-color: #f900a1!important;
   border-color: #2f3134;
}



.productAdminTable>tbody>tr.productControl>td {
  
    background-color: #f900a1!important;
    box-shadow: inset 0 11px 8px -10px #f900a1, inset 0 -11px 8px -10px #f900a1;
}

.productAdminTable table {
    background-color: #f900a1!important;
}

.list-group-item {
    background-color: #0e1012;
   border-color: #0e1012;
}

.table>thead>tr>th {
 
    border-color: #2f3134;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #252931;
}


.sidebar {

    color: #4a4a4a;
    border-color: #f900a1;
    background-color: #f900a1;
}

.table-hover>tbody>tr:hover {
   background-color: #252a31;
}



.chosen-container-multi .chosen-choices {
    border-color: #252931;
    background-color: #252931;
}

.sidebar .sidebar-nav {

   border-color: #2f3134;
}

.sidebar .sidebar-buttons {

    border-color: #2f3134;
    
}

.sidebar .type-container .type-header {

    border-color: #2f3134;
}

.sidebar .sidebar-item {
    border-color: #2f3134;

}


.sidebar .sidebar-item.sidebar-item-clickable:hover, .sidebar .sidebar-item.sidebar-item-clickable.active {

    background-color: #252a31;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover {
    color: #c7c7c7!important;
    



.swushTable .swushTableHeader {

    filter: invert(40%);
}


.swushTable td, .swushTable th {

    border-bottom: 1px solid #2f3134;
}


a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {

    background-color: #252a31;
}

.modal-header, .modal-footer {
    border-color: #2f3134;
}


.sidebar .sidebarContentHistory .date {
    background: #0e1012;
}


.modal-logtime .modal-logtime-line:hover {
    background-color: #252a31;
}



.modal-logtime .modal-logtime-line .input-group input, .modal-logtime .modal-logtime-line .input-group .input-group-addon {
  
    border-color: #2f3134;

    background-color: #252931;
}



.tmtimeline:before {

    background: #36383c;

}

.select2-container--bootstrap .select2-selection--single {

      background: #36383c;
        border: 0;
    border-radius: 3;
}


.select2-container--bootstrap .select2-dropdown {

    border-color: #252931;

    background: #f900a1;
}

.billingsTable>tbody>tr:nth-last-child(2)>td {
    border-color: #727579;
}

.billingsTable>tbody>tr:last-child>td {

    border-color: #727579;
}

.relationship-breadcrumb span>a {
    color: #d2d2d2;
 
}


.well {
    background-color: #f900a1;
    border-color: #f900a1;
}


table.table>tbody>tr.colorOne {
    background-color: #2f3134;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: white !important;
    font-weight: bold !important;
}

.chosen-container .chosen-drop {
    color: #333333;
}

ul.section-navigation>li:hover {
    color: #fff;
}


.dashboard .genfak-circle {
	display: inline-block;
	box-sizing: border-box;
	width: 170px;
    height: 45px;
	padding-left: 170px;
	background-size: 170px;
	background-position: center center;
	background-repeat: no-repeat;
}



/* brand specific style */

/* Zitcom */
body.theme-scannet .reseller-logo, div.brandpicker a[href="?brand=zitcom"] img, .dashboard .genfak-circle.genfak-circle-zitcom {
	background-image: url(https://intranet.zitcom.dk/img/logo/zitcom-logo-white.svg);
}

/* ScanNet */
body.theme-scannet .reseller-logo, div.brandpicker a[href="?brand=scannet"] img, .dashboard .genfak-circle.genfak-circle-scannet {
    background-image: url(https://intranet.zitcom.dk/img/logo/scannet-logo-white.svg);
}

.brand-icon.brand-scannet, .relationship-breadcrumb span.scannet>a span {
	background-image: url(https://gunnyarts.github.io/ShadowCom/images/sc-white.png);
}

/* Curanet */
body.theme-curanet .reseller-logo, div.brandpicker a[href="?brand=curanet"] img, .dashboard .genfak-circle.genfak-circle-curanet {
    background-image: url(https://intranet.zitcom.dk/img/logo/curanet-white.png);
}

/* Wannafind */
body.theme-wannafind .reseller-logo, div.brandpicker a[href="?brand=wannafind"] img {
    background-image: url(https://intranet.zitcom.dk/img/logo/wannafind.png);
}

.dashboard .genfak-circle.genfak-circle-betalingsservice {
    background-image: url(https://gunnyarts.github.io/ShadowCom/images/betalingsservice-white.png);
}




.swushTable .swushTableHeader {

    filter: invert(40%);
}


.swushTable td, .swushTable th {

    border-bottom: 1px solid #2f3134;
}


a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {

    background-color: #252a31;
}

.modal-header, .modal-footer {
    border-color: #2f3134;
}


.sidebar .sidebarContentHistory .date {
    background: #0e1012;
}


.modal-logtime .modal-logtime-line:hover {
    background-color: #252a31;
}



.modal-logtime .modal-logtime-line .input-group input, .modal-logtime .modal-logtime-line .input-group .input-group-addon {
  
    border-color: #2f3134;

    background-color: #252931;
}



.tmtimeline:before {

    background: #36383c;

}

.select2-container--bootstrap .select2-selection--single {

      background: #36383c;
        border: 0;
    border-radius: 3;
}


.select2-container--bootstrap .select2-dropdown {

    border-color: #252931;

    background: #f900a1;
}

.billingsTable>tbody>tr:nth-last-child(2)>td {
    border-color: #727579;
}

.billingsTable>tbody>tr:last-child>td {

    border-color: #727579;
}

.relationship-breadcrumb span>a {
    color: #d2d2d2;
 
}


.well {
    background-color: #f900a1;
    border-color: #f900a1;
}


table.table>tbody>tr.colorOne {
    background-color: #2f3134;
}
